
<div class="col-md-6 col-md-offset-3">
    <h2 ng-if="vm.editMode">Update account</h2>
    <h2 ng-if="!vm.editMode">Create account</h2>
    <div class="alert alert-danger" ng-if="vm.errorMessage != null && vm.errorMessage" ng-bind="vm.errorMessage"></div>
    <form name="form" ng-submit="vm.submit()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.card_number.$dirty && form.card_number.$invalid }">
            <label for="card_number">Card Number</label>
            <input  type="text" ng-minlength="16" ng-maxlength="16" name="card_number" id="card_number" class="form-control" ng-model="vm.accountDetails.card_number" required />
            <span ng-show="form.card_number.$dirty && form.card_number.$invalid" class="help-block">Card number  must be of length 20.</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.expiration.$dirty && form.expiration.$error.required }">
            <label for="expiration">Expiration</label>
            <input type="text" name="expiration" id="expiration" class="form-control" ng-model="vm.accountDetails.expiration" required />
            <span ng-show="form.expiration.$dirty && form.expiration.$error.required" class="help-block">Expiration date is required.</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.account_number.$dirty && form.account_number.$invalid }">
            <label for="expiration">Account Number</label>
            <input type="text" ng-minlength="20" ng-maxlength="20" name="account_number" id="account_number" class="form-control" ng-model="vm.accountDetails.account_number" required />
            <span ng-show="form.account_number.$dirty && form.account_number.$invalid" class="help-block">Account number must be of length 20.</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.pin.$dirty && form.pin.$error.required }">
            <label for="Pin">Pin</label>
            <input type="text" name="pin" id="pin" class="form-control" ng-model="vm.accountDetails.pin" required />
            <span ng-show="form.pin.$dirty && form.pin.$error.required" class="help-block">Pin is required.</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.user_name.$dirty && form.user_name.$error.required }">
            <label for="User Name">User Name</label>
            <input type="text" name="user_name" id="user_name" class="form-control" ng-model="vm.accountDetails.user_name" required />
            <span ng-show="form.user_name.$dirty && form.user_name.$error.required" class="help-block">User Name is required.</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.current_balance.$dirty && form.current_balance.$error.required }">
            <label for="Current Balance">Current Balance</label>
            <input type="text" name="current_balance" id="current_balance" class="form-control" ng-model="vm.accountDetails.current_balance" required />
            <span ng-show="form.current_balance.$dirty && form.current_balance.$error.required" class="help-block">Please enter current balance</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">{{vm.editMode ? 'Update' : 'Create'}}</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
    </form>
</div>